name: Build and test
on:
  pull_request:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '7.0.x'
    - run: dotnet --info
    - name: Build solution and run all tests
      run: ./build.sh
